html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  user-select: none;
  color: #FFF
}

button {
    margin-left: 20px;
    width: 150px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    background-color: #DDD;
    outline: none;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.7;
    transition: 0.2s;
    box-shadow: 0 3px #999;
}

#color-picker{
    border_radius: 10%;
    width: 45px;
    height: 45px;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 1px #999;
}

button:hover {
    opacity: 1;
}

#content {
	grid-area: content;
}

#dropDown {
    background-color: #444;
    color: #fff;
    margin: 0px 5px;
    width: 60px;
    height: 30px;
    border-radius: 8px;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

#sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
    width: 80px;
}


.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colorPalette{
	grid-area: colorP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colorSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 70px 230px  minmax(500px, 1fr);
    grid-template-rows: 35px minmax(500px, 1fr) 160px;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "colorP colorP options";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    font-size: 150%;
}

.header {
    background-color: #999;
    color: #000;
}

/* For the manuals that get shown for each tool*/

#manual {
    background: #402F1D;
    color: rgba(255, 255, 255, 0.99);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    opacity: 0.9;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    box-shadow: 3px 3px 0 0 #503F2D;
}


#manual ol {
    padding-top: 25px;
    text-align: left;
}

#manual ol li {
    margin: 10px;
}

#manual ul {
    padding-top: 25px;
    text-align: left;
}

#manual ul li {
    margin: 10px;
}

#manual p {
    margin: 25px;
    text-align: left;
}

/* Escape button on the manual */
#manual button {
    top: 15px;
    color: #F00;
    background: #FFF;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

#manual button:hover {
    background: #F00;
    color: #FFF;
}

/* undo manager buttons */

.undo-manager {
    width: 60px;
    height: 30px;
}

/* DROPDOWN BUTTON MENU */
/* When the size of the screen gets smaller we display the small menu button */
@media screen and ( max-width: 1300px ) {
    .menu-items {
        display: none;
    }

    .dropbtn {
        background: #FF0000;
        display: hidden;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropDown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    height: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    padding-right: 12px;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 25px;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
