html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  user-select: none;
  color: #FFF
}

button {
    margin-left: 20px;
    width: 150px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    background-color: #DDD;
    outline: none;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0 3px #000;
}

#color-picker {
    border_radius: 10%;
    width: 45px;
    height: 45px;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 1px #999;
}

button:hover {
    background-color: #CCF;
}

#content {
	grid-area: content;
}

#dropdown {
    background-color: #444;
    color: #fff;
    fontSize: 40;
    margin: 0px 5px;
    width: 60px;
    height: 30px;
    border-radius: 8px;
}

#dropdown:hover {
    background-color: #CCF;
    color: #000;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

#sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
    width: 80px;
}


.sideBarItem {
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img {
	max-height: 50px;
	max-Width:50px;
}

.colorPalette {
	grid-area: colorP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options {
	grid-area: options;
	padding: 15px;
}

.colorSwatches {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
    transition: 0.2s;
}

.colorSwatches:hover {
    transform: scale(1.15);
}


.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 70px 230px  minmax(300px, 1fr);
    grid-template-rows: 35px minmax(300px, 1fr) 160px;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "colorP colorP options";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    font-size: 150%;
}

.header {
    background-color: #999;
    color: #000;
}

/* For the manuals that get shown for each tool*/

#manual {
    background: #402F1D;
    color: rgba(255, 255, 255, 0.99);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    opacity: 0.9;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    box-shadow: 3px 3px 0 0 #503F2D;
}


#manual ol {
    padding-top: 25px;
    text-align: left;
}

#manual ol li {
    margin: 10px;
}

#manual ul {
    padding-top: 25px;
    text-align: left;
}

#manual ul li {
    margin: 10px;
}

#manual p {
    margin: 25px;
    text-align: left;
}

/* Escape button on the manual */
#manual button {
    top: 15px;
    color: #F00;
    background: #FFF;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

#manual button:hover {
    background: #F00;
    color: #FFF;
}

/* undo manager buttons */

.undo-manager {
    width: 70px;
    height: 25px;
}

 
/***************************************************
 Title: How TO - Hoverable Dropdown
 Author: W3Schools
 Date: N/a
 Code version: N/a
 Availability: https://www.w3schools.com/howto/howto_css_dropdown.asp
 Notes: The author also wrote the comments in the code below this citation

  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

 ***************************************************/
/* DROPDOWN BUTTON MENU */
/* The Dropdown Button */
.dropbtn {
    display: none;
    background-color: #DDD;
    color: #000;
    font-size: 16px;
    width: 100px;
    height: 25px;
    border: none;
}

/* The container for the drop btn */
.dropdown {
    margin-right: 10px;
    float: right;
    position: relative;
    display: none;
}

/* The dropdown content that holds the buttons for dropdown */
.dropdown-content {
    border-radius: 5%;
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    height: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    padding-right: 12px;
}

/* When the size of the screen gets smaller we display the small menu button */
@media screen and ( max-width: 1300px ) {
    .menu-items {
        display: none;
    }

    .dropdown {
        display: inline;
    }

    .dropbtn {
        display: inline;
    }
}

/* The buttons inside the dropdown */
.dropdown-content button {
    color: black;
    margin-top: 10px;
    text-decoration: none;
    display: block;
    width: 150px;
    height: 25px;
}


/* Change color of dropdown buttons on hover */
.dropdown-content button:hover {
    background-color: #ddd;
}

/* Show the dropdown menu when the user hovers it */
.dropdown:hover .dropdown-content {
    display: block;
}

/*When dropdown is shown we change the color of it */
.dropdown:hover .dropbtn {
    background: #444;
    color: #FFF;
}
